/* Full-screen container */
.contact-container {
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column; /* Stack heading and icons vertically */
    /* justify-content: center; Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    overflow: hidden;
}

/* Styling for the heading */
.contact-container h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 6rem; /* Adjust font size for the heading */
    margin-bottom: 100px; /* Space between heading and icons */
    color: #333; /* Color of the heading */
    width: 100%; /* Ensure heading takes full width */
}

/* Container for icons to display them horizontally */
.icons-container {
    display: flex;
    justify-content: center; /* Center icons horizontally */
    gap: 120px; /* Space between icons */
}

/* Base styling for icons */
.contact-icon {
    font-size: 100px; /* Icon size */
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

/* Specific colors for each icon */
.twitter {
    color: #1DA1F2; /* Twitter Blue */
}

.linkedin {
    color: #0077B5; /* LinkedIn Blue */
}

.github {
    color: #000; /* GitHub Black */
}

.email {
    color: #D14836; /* Gmail Red */
}

/* Hover effect */
.contact-icon:hover {
    transform: scale(1.3); /* Zoom effect on hover */
}
